<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restful Tasks</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Restful Tasks API</h1>
        </div>
      </div>
      <div class="row">
        <div class="col blue">
          <button (click)="buttonToShowAllTasks()">Show All Tasks!</button>
          <div *ngIf="clicked == true">
            <h2>All the tasks:</h2>
            <div *ngFor="let task of tasks">
              <p><b>{{task.title}}</b> - </p>
              <button (click)="buttonToShowDescription(task._id)">Show</button>
              <button (click)="buttonToEditTask(task._id)">Edit</button>
              <button (click)="buttonToDeleteTask(task._id)">Delete</button>
            </div>
            <div *ngIf="showTask">
              <b>{{showTask.title}}</b> -
              {{showTask.description}}
              <button (click)="closeShow()">Close</button>
            </div>
            <div *ngIf="editTask">
              <form (submit)="submitEditForm()">
                <p>{{editTask | json}}</p>
                <label> Task title:
                  <input type="text" name="editTask.title" value="editTask.title" [(ngModel)]="editTask.title">
                </label>
                <label> Task description:
                  <input type="text" name="editTask.description" value="editTask.description" [(ngModel)]="editTask.description">
                </label>
                <input type="submit" value="update task">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form (submit)="submitCreateForm()">
            <p>{{newTask | json}}</p>
            <label> Task title:
              <input type="text" name="newTask.title" [(ngModel)]="newTask.title">
            </label>
            <label> Task description:
              <input type="text" name="newTask.description" [(ngModel)]="newTask.description">
            </label>
            <input type="submit" value="create task">
          </form>
        </div>
      </div>
    </div>
  </body>

  </html>

  <router-outlet></router-outlet>
