<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restful Tasks</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Restful Tasks API</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>All the tasks:</h2>
        <p *ngFor="let task of tasks"><b>{{task.title}}</b> - {{task.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>The third task:</h2>
        <p><b>{{task3.title}}</b> - {{task3.description}}</p>
      </div>
    </div>
  </div>
</body>
</html>

<router-outlet></router-outlet>
